.nav {
    grid-area: n;
    background-color: #d1d9da;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item a {
    color: white;
    text-decoration: none;
}

.item  a.activeLink{
    color: black ;
}