.app-wrapper {
  height: 100vh;
  overflow-y: hidden;
  display: grid;
  margin: 0 auto;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 220px 1fr;
  grid-template-areas: "h h" "n c";
}
 a {
     color: inherit;
 }

.app-content {
    grid-area: c;
    background-color: #f0f9fa;
    overflow-y: auto;
}
