.dialogs {
    display: grid;
    grid-template-columns: 3fr 8fr;
}

.dialogsItems {
    padding: 20px;
}

.dialogsItems .dialog {

}

.dialog.active {
    color: cornflowerblue;
}

.messagesItems {
    padding: 20px;
}

.messagesItems .message {

}